.Title
            {
                margin-bottom: 10px;
                text-align:center;
                width: 210px;
                color:rgb(238, 20, 20);
                border: solid black 2px;
            }
            input[type="button"]
            {
                background-color:green;
                color: rgba(245, 241, 23, 0.966);
                border: solid black 2px;
                width:100%
            }
  
            input[type="text"]
            {
                background-color:white;
                border: solid black 2px;
                width:100%
            }


            body{
                margin: 0;
            }

            .m_body{
                height: 100vh;
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                background-image: url("bgimage.jpg");
                background-position: center;
                background-size: cover;
                background-repeat: no-repeat;
               
                
            }


            input[type="button"] {
                border: 3px solid #ff7a59;
              }
              
              input:hover {
                border: 3px dotted #ff7a59;
                color: #ff7a59;
                background: #fff;
              }

        
          
            table{
                height: 30%;
                border-radius: 10px;
                border: 5px solid black;
            }
